body{
background-color: #ccc5b9;
margin: 0px;
padding: 0px;
height: 100%;
width: 100%;
}
header{
background: #252422;
font-family: tahoma;
margin: 0px;
padding: 20px;
}
    
.logo{
font-weight: bold;
text-transform: lowercase;
margin-left: 20px;

}


nav{
float: right;
margin-right: 30px;
}

ul{
list-style-type: none;
margin: 0; padding: 0;
}

li{
float: left;
transition: transform .2s;
}

a{
padding: 20px;
text-transform: uppercase;
font-size: 20px;
text-decoration: none;
color: white;

}

.topnav:hover{
transform: scale(1.5);
}
.settings{
    display: none;
}
.settings:hover{
    transform: scale(1.5);
}

.container{
    vertical-align: middle;
}
.footer{
background: #252422;
font-family: tahoma;
margin: 0px;
padding: 0px;
height: auto;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: white;
padding-left: 20px;
padding-right: 20px;
}
.fieldset{
    border-right: 2px solid #403d39;
    padding-left: 30px;
    padding-right: 30px;
}
.column{
    float: left;
    width: 33%;
    height: 100%;
    padding: 45px;
    margin-left: 0px;
    background-color: transparent;
    border-right: black;
    font-family: tahoma;
}
.part{
    float: left;
    width: 33.33%;
    padding: 15px; 
    font-family: tahoma;
}
/* Clear floats after the columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px){
    .column{
        width: 100%;
    }
    .part{
        width: 100%;
    }
}
*{
    box-sizing: border-box;
}
.flat{
    color: #eb5e28;
    font-size: 15px;
}
h4{
    color: #252422;
}
h2{
    color: #eb5e28;
    font-style: oblique;
}
strong, b{
color: #252422;
}
.close{
    background-color: #fb5607;
    color: #fffcf2;
    border-radius: 50%;
    outline: none;
    border: 2px solid #252422;
}
@media screen and (max-width:600px){
    .column{
        width: 100%;
    }
}