*{
    box-sizing: border-box;
}
.body{
    margin: 0px;
    background-color: #f4f1de;
    
}
.button{
    outline: none;
    background: transparent;
    border: transparent;
}
.header{
    background-color: #fb8500;
    padding: 20px;
    text-align: center;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
}
.footer{
    background-color: #fb8500;
    padding: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0px;
    vertical-align: auto;
}
.fieldset{
    border-color: #fb8500;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
h4{
    color: #023047;
}
h5{
    color: #023047;
}
h2{
    color: #fb8500;
}
strong{
    color: #023047;
}
.topnav{
    overflow: hidden;
    background-color: #023047;
    padding-right: 70px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topnav a{
    color: white;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover{
background-color: #8ecae6;
color: #023047;
}
.column{
    float: left;
    width: 33.33%;
    height: 100%;
    padding: 45px;
    margin-left: 0px;
    background-color: transparent;
    border-right: black;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f1de;
}
.part{
    float: left;
    width: 33.33%;
    padding: 15px; 
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Clear floats after the columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px){
    .column{
        width: 100%;
    }
    .part{
        width: 100%;
    }
}
